<div class="side-bar" [ngClass]="{'open': sidebarIsOpen, 'closed': !sidebarIsOpen}">
    <div class="side-bar-header">Projects<fa-icon class="fa-icon" [icon]="faClose" (click)="toggleSideBar()" /></div>
    <ul>
        <li><a routerLink="/bucklite" routerLinkActive="selected"><span><fa-icon class="fa-icon" [icon]="faMoneyBill" /></span>BuckLite</a></li>
        <li><a routerLink="/components" routerLinkActive="selected"><span><fa-icon class="fa-icon" [icon]="faCode" /></span>Components</a></li>
        <li><a routerLink="/events" routerLinkActive="selected"><span><fa-icon class="fa-icon" [icon]="faCalendar" /></span>Events</a></li>
    </ul>
    <div class="side-bar-footer" (click)="goToHome()">
        <fa-icon class="fa-icon" [icon]="faGlobe" />
        <a [href]="homeUrl">https://revnique.works</a>
    </div>
</div>