.default-page {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: 100vh;
    .default-page-content {
        width: 80%;
        padding: 50px;
        font-size: 1.5em;
        .default-page-content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .default-page-title {
            font-size: 1.7em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        ul {
            list-style-type: none;
            text-align: initial;
            padding: 0;
            margin: 0px 10px 10px 40px;
            .external-link-container {
                margin: 10px 0px 0px 30px;
            }
            .external-link-text {
                font-size: 0.8em;
            }
            a {
                color: rgb(160, 160, 193);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .hand-icon-container {
        .svg-inline--fa.fa-hand-point-up.hand-icon{
            transform: scale(-1, 1);
        }
    
        padding: 10px 3px 0px 0px;
        font-size: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: bounce 1s infinite;
        .hand-icon-text {
            font-size: 12px;
            margin-top: 5px;
        }
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}