.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.slider-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    label {
        width: 20px;
        margin: 0 10px;
    }
}

.slider-value-bar-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: end;
    .vertical {
        padding:10px;
    }
    .horizontal {
        padding:10px;
    }
}

@media (max-width: 768px) {
    .content-container {
        align-items: center;
    }
    .section {
        padding: 10px;
        margin: 10px 0px 10px 0px;
        box-sizing: border-box;
    }
}
