<div class="default-page">
    <div class="default-page-content">
        <div class="default-page-content-container">
            <div class="inner-container">
                <div class="default-page-title">This website demonstrates</div>
                <ul>
                    <li>&mdash;&nbsp;Angular 19 with NgRx state management</li>
                    <li>&mdash;&nbsp;Light/Dark theming based on computer defaults</li>
                    <li>&mdash;&nbsp;GraphQL API via AWS AppSync & DynamoDB</li>
                    <li>&mdash;&nbsp;Responsive Web Design targeting iPhone SE mobile viewport</li>
                    <li>&mdash;&nbsp;Pixel-perfect sister site built in React 18</li>
                    <li>&mdash;&nbsp;Deployed Monorepo to Separate Subdomains with AWS Amplify</li>
                    <li class="external-link-container"><fa-icon [icon]="faExternalLink" class="hand-icon"></fa-icon>&nbsp;<a href="https://github.com/revnique/portfolio" target="_blank" rel="noopener noreferrer">https://github.com/revnique/portfolio</a>
                        <span class="external-link-text">&nbsp;[monorepo source]</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hand-icon-container">
        <fa-icon [icon]="faHandPointUp" class="hand-icon" />
        <div class="hand-icon-text">React Twin Site</div>
    </div>
</div>