<div class="main-content-header">
    <div class="summary">
        <h1>BuckLite</h1>
        <p>BuckLite is a simple budgeting app that allows you to track your income and expenses.</p>
    </div>
</div>
<div class="main-content-body">
    <div class="content-container">
        <div class="buck-input-container">
            <h1>Buck Input</h1>
            <form class="form-container" [formGroup]="buckInputForm">
                <div class="form-group">
                    <label htmlFor="serialNumber">Serial Number</label>
                    <input type="text" class="form-field" formControlName="serialNumber" />
                </div>
                <div class="form-group">
                    <label htmlFor="createDate">Create Date</label>
                    <input type="date" class="form-field" formControlName="createDate" />
                </div>
                <div class="button-container">
                    <button type="button" (click)="save()">Save</button>
                    <button type="button" (click)="fetch()">Fetch</button>
                    <button type="button" (click)="fetchSingle()">Get 1</button>
                </div>
            </form>
            <div class="buck-value-container">
                <div class="buck-value-label">Rating</div>
                <app-value-bar [valueBarPositiveHeight]="selectedBuck?.match?.RatingValue || 1" [isHorizontal]="true" 
                    [length]="mediaBreakpoint === 'mobile' ? 355 : 275" [thickness]="mediaBreakpoint === 'mobile' ? 20 : 30"></app-value-bar>
            </div>
        </div>
        <div class="buck-list-container">
            <h1>Buck List</h1>
            <table *ngIf="state$ | async as PortfolioState">
                <tr>
                    <th>Serial Number</th>
                    <th>Date</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
                <tr *ngIf="PortfolioState.isPending">
                    <td colspan="4">
                        <div class="skeleton-loader-container">
                            <div class="skeleton-loader-base"></div>
                            <div class="skeleton-loader-indicator"></div>
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="!PortfolioState.isPending">
                    <tr *ngFor="let buck of PortfolioState.BuckLites" (click)="selectBuck(buck)" [class.selected]="selectedBuck === buck" (keydown)="onKeyDown($event)">
                        <ng-container *ngIf="buck">
                            <td>
                                <div class="checkbox-container">
                                    <label [for]="buck.SN">{{ buck.SN }}</label>
                                    <input type="checkbox" [id]="buck.SN" class="hidden" [checked]="selectedBuck === buck"/>
                                </div>
                            </td>
                            <td><label [for]="buck.SN">{{ buck.CDT | date:'MM/dd/yyyy' }}</label></td>
                            <td class="align-right"><label [for]="buck.SN">{{ buck.match.RatingValue }}&nbsp;&nbsp;&nbsp;</label></td>
                            <td>
                                <button (click)="delete(buck.SN)" class="delete-icon">
                                    <fa-icon [icon]="faTrash" class="delete-icon"></fa-icon>
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</div>